<!DOCTYPE html>
<html lang="en">

<head>

<body>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mobility in the Age of Coronavirus</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="Graphs.js"></script>
  <link rel="stylesheet" href="style.css">

  </head>

  <!-- HEADER -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Mobility in the Age of Coronavirus</h1>
        <p>How do lockdowns around the world affect mobility?</p>
      </div>

      <!-- GRAPH ONE  -->
      <div class="container"></div>
      <div class="row">
        <div class="col-md-4">
          <select id="selDataset"></select>
          <select id="selDataset2"></select>
          <div id="plot"></div>
          <p>Graph one will allow you to bring up any country with any form of transportation</p>
        </div>

        <!-- GRAPH TWO -->
        <div class="container"></div>
        <div class="row">
          <div class="col-md-4">
            <select id="selDataset3"></select>
            <select id="selDataset4"></select>
            <select id="selDataset5"></select>
            <select id="selDataset6"></select>
            <p>Graph two will compare two or more countries against each other</p>
          </div>

          <!-- GRAPH THREE -->
          <div class="container"></div>
          <div class="row">
            <div class="col-md-4">
              <select id="selDataset"></select>
              <select id="selDataset2"></select>
              <p>Graph three will be a bar graph that will compare the percent change amongst countries at a given time
              </p>
            </div>
          </div>

</body>

</html>